
<%= simple_form_for( @visitor ) do |form| %>
  <div class="form-inputs">
    <div class="col-sm-12 m-0 p-0">
      <%= form.input :email,      as: :string, required: true, disabled: true, wrapper_html: { class: 'col-sm-12' } %>
      <%= form.input :created_at, as: :date,   required: true, disabled: true, wrapper_html: { class: 'col-sm-6' } %>
      <%= form.input :updated_at, as: :date,   required: true, disabled: true, wrapper_html: { class: 'col-sm-6' }  %>
    </div>

    <div id="table-visitations" class="col-sm-12">
    </div>

    <div class="col-sm-12">
      <%= show_button( visitor_visitations_path(visitor_id: @visitor.id), 0, '', {remote: true}) %>
    </div>
  </div>
<% end %>
